{% load don_extras %}
<li>
    <a href="{% url 'web:api_detail' api_id=api.api_id %}" class="api-item">
        <div class="api-item__left">
            <h4 class="api-item__left__title mb-3">{{ api.service_name }}</h4>
            <sub class="api-item__left__subtitle mb-4">{{ api.organization.name }}</sub>
            {% if api.description %}
            <p class="api-item__left__description">{{ api.description | truncatewords:42 }}</p>
            {% endif %}

            {% if api.topics.all %}
            <div class="mt-4">
                {% include "partials/topic_list.html" with topics=api.topics.all %}
            </div>
            {% endif %}
        </div>
        <div class="api-item__right">
            <div class="api-item__right__category pill pill--white pill--sm">
                {{ api.get_api_type_display }}
            </div>
            {% if api.latest_validator_reports.count %}
            <div class="api-item__right__grade">
                {% for validator_report in api.latest_validator_reports %}
                {% score_pie validator_report.report is_large=False %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </a>
</li>
