{% load don_extras %}
<div class="filters">{% include "partials/facet_filters.html" %}</div>
<div class="results">
    {% if paginator.count %}
        <span class="results-count mb-sm filter-hx-indicator">{{ paginator.count }} repository{{ paginator.count | pluralize:"'s" }}</span>
        <div class="filter-hx-indicator filter-spinner mb-04">
            <div class="spinner"></div>
        </div>
        <ul class="results__list item-list filter-hx-indicator ">
            {% for repository in repository_list %}
                {% repository_item repository %}
            {% endfor %}
        </ul>
        {% include "partials/paginator.html" %}
    {% else %}
        Geen repository's gevonden.
    {% endif %}
</div>
