@use "../theme";

$dimensions: theme.$spacing01, theme.$spacing02, theme.$spacing03, theme.$spacing04, theme.$spacing05,
    theme.$spacing06, theme.$spacing07, theme.$spacing08, theme.$spacing09, theme.$spacing10, theme.$spacing11;

@each $dimension in $dimensions {
    $i: index($dimensions, $dimension);

    .mt-#{$i} {
        margin-top: $dimension;
    }

    .mb-#{$i} {
        margin-bottom: $dimension;
    }

    .ml-#{$i} {
        margin-left: $dimension;
    }

    .mr-#{$i} {
        margin-right: $dimension;
    }

    .p-#{$i} {
        padding: $dimension;
    }

    .py-#{$i} {
        padding: $dimension 0;
    }
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}
