{% extends "layouts/base.html" %}
{% load static i18n don_extras %}

{% block content %}
<h1 class="mb-6">{{ title }}</h1>
<p class="font-size-lg">API is toegevoegd. Deze wordt zo snel mogelijk geplaatst.</p>
{% endblock %}
