{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<h1 class="mb-5">{{ title }}</h1>
<p class="mb-0">Een wegwijzer naar de API's die (semi-)overheidsorganisaties in Nederland aanbieden.</p>
<div id="list-results" class="page-search">
    {% include "partials/api_list_results.html" %}
</div>
{% endblock %}

{% block tail %}
<script src="{% static 'dist/htmx.js' %}"></script>
{% endblock %}
