{% extends "layouts/base.html" %}
{% load i18n %}

{% block content %}
<div class="page-contact column-60">
    <h1 class="mb-5">{{ title }}</h1>
    <p class="mb-md">Heb je een vraag of opmerking over onze diensten, of zie je een stukje informatie dat niet klopt?
        Neem dan contact met ons op.</p>
    {% language "nl" %}
    <form action="{% url 'web:contact' %}" method="post">
        {% csrf_token %}
        {% if form.errors %}
        <p class="warning">Het formulier is nog niet volledig ingevuld en/of bevat fouten.</p>
        {% endif %}
        <div class="field-wrapper">
            <label for="{{ form.name.id_for_label }}">Naam (optioneel)</label>
            {{ form.name }}
            {% if form.name.errors %}
            <div class="field-wrapper__errors">{{ form.name.errors }}</div>
            {% endif %}
        </div>
        <div class="field-wrapper">
            <label for="{{ form.email_address.id_for_label }}">E-mailadres</label>
            {{ form.email_address }}
            {% if form.email_address.errors %}
            <div class="field-wrapper__errors">{{ form.email_address.errors }}</div>
            {% endif %}
        </div>
        <div class="field-wrapper">
            <label for="{{ form.subject.id_for_label }}">Onderwerp</label>
            {{ form.subject }}
            {% if form.subject.errors %}<div class="field-wrapper__errors">{{ form.subject.errors }}</div>{% endif %}
        </div>
        <div class="mb-0 field-wrapper">
            <label for="{{ form.message.id_for_label }}">Bericht</label>
            {{ form.message }}
            {% if form.message.errors %}<div class="field-wrapper__errors">{{ form.message.errors }}</div>{% endif %}
        </div>
        <button type="submit" class="button button--secondary mt-6">Bericht versturen</button>
    </form>
    {% endlanguage %}
</div>
{% endblock %}
