{% extends "layouts/base.html" %}
{% load i18n %}

{% block content %}
<h1 class="mb-6">{{ title }}</h1>
<p class="font-size-lg">Bedankt voor je bericht! We gaan jouw vraag/ opmerking zo snel mogelijk behandelen. Omdat wij
    geen vaste redactie hebben kan dit tot enkele werkdagen duren.</p>
{% endblock %}
