{% extends "layouts/base.html" %}
{% load static don_extras %}

{% block content %}
<div class="page-homepage">
    <div class="hero py-xl">
        <div class="hero--bg">
            <img src="{% static 'images/hero_bg.webp' %}">
        </div>
        <div class="container">
            <div class="hero__intro">
                <h1 class="hero__intro__heading">Eén centrale plek voor de developer die voor of met de overheid
                    ontwikkelt</h1>
                <p class="hero__intro__subtitle">
                    Handige bronnen en de community
                    voor de ontwikkeling van jouw digitale services.
                </p>
            </div>
            <div class="hero__content">
                <a href="{% url 'web:api_list' %}" class="card card--primary card--call-to-action">
                    <svg width="60" height="60" class="card__icon">
                        <use xlink:href="{% static 'images/icons/tabler-sprite.svg' %}#tabler-affiliate" />
                    </svg>
                    <h2 class="mt-0 mb-xs">Vind een API</h2>
                    <p class="card__description">Bekijk welke API's er allemaal zijn en kom er achter hoe je jouw
                        oplossing hier op kan laten aansluiten.</p>
                    <div class="card__footer">
                        <svg class="card__footer__icon mr-3" width="16" height="17" viewBox="0 0 16 17" fill="none"
                            xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path
                                d="M6.67969 1.60547L7.45312 0.832031C7.80469 0.515625 8.33203 0.515625 8.64844 0.832031L15.5039 7.65234C15.8203 8.00391 15.8203 8.53125 15.5039 8.84766L8.64844 15.7031C8.33203 16.0195 7.80469 16.0195 7.45312 15.7031L6.67969 14.9297C6.36328 14.5781 6.36328 14.0508 6.67969 13.6992L10.9336 9.65625H0.84375C0.351562 9.65625 0 9.30469 0 8.8125V7.6875C0 7.23047 0.351562 6.84375 0.84375 6.84375H10.9336L6.67969 2.83594C6.36328 2.48438 6.32812 1.95703 6.67969 1.60547Z"
                                fill="white" />
                        </svg>
                        <span class="card__footer__text">Zoek API's</span>
                    </div>
                </a>
                <a href="{% url 'web:repository_list' %}"
                    class="card card--primary card--call-to-action">
                    <svg width="60" height="60" class="card__icon">
                        <use xlink:href="{% static 'images/icons/tabler-sprite.svg' %}#tabler-notebook" />
                    </svg>
                    <h2 class="mt-0 mb-xs">Vind een repository</h2>
                    <p class="card__description">Vind bestaande repository's om bij aan te haken en ontdek wat er binnen
                        welke organisatie beschikbaar is.</p>
                    <div class="card__footer">
                        <svg class="card__footer__icon mr-3" width="16" height="17" viewBox="0 0 16 17" fill="none"
                            xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path
                                d="M6.67969 1.60547L7.45312 0.832031C7.80469 0.515625 8.33203 0.515625 8.64844 0.832031L15.5039 7.65234C15.8203 8.00391 15.8203 8.53125 15.5039 8.84766L8.64844 15.7031C8.33203 16.0195 7.80469 16.0195 7.45312 15.7031L6.67969 14.9297C6.36328 14.5781 6.36328 14.0508 6.67969 13.6992L10.9336 9.65625H0.84375C0.351562 9.65625 0 9.30469 0 8.8125V7.6875C0 7.23047 0.351562 6.84375 0.84375 6.84375H10.9336L6.67969 2.83594C6.36328 2.48438 6.32812 1.95703 6.67969 1.60547Z"
                                fill="white" />
                        </svg>
                        <span class="card__footer__text">Zoek repository's</span>
                    </div>
                </a>
                <a href="{% url 'web:api_add' %}" class="card card--primary card--call-to-action">
                    <svg width="60" height="60" class="card__icon">
                        <use xlink:href="{% static 'images/icons/tabler-sprite.svg' %}#tabler-code-plus" />
                    </svg>
                    <h2 class="mt-0 mb-xs">API toevoegen</h2>
                    <p class="card__description">Voeg een overheids-API toe om deze beschikbaar te maken voor andere
                        developers.</p>
                    <div class="card__footer">
                        <svg class="card__footer__icon mr-3" width="16" height="17" viewBox="0 0 16 17" fill="none"
                            xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path
                                d="M6.67969 1.60547L7.45312 0.832031C7.80469 0.515625 8.33203 0.515625 8.64844 0.832031L15.5039 7.65234C15.8203 8.00391 15.8203 8.53125 15.5039 8.84766L8.64844 15.7031C8.33203 16.0195 7.80469 16.0195 7.45312 15.7031L6.67969 14.9297C6.36328 14.5781 6.36328 14.0508 6.67969 13.6992L10.9336 9.65625H0.84375C0.351562 9.65625 0 9.30469 0 8.8125V7.6875C0 7.23047 0.351562 6.84375 0.84375 6.84375H10.9336L6.67969 2.83594C6.36328 2.48438 6.32812 1.95703 6.67969 1.60547Z"
                                fill="white" />
                        </svg>
                        <span class="card__footer__text">Voeg jouw API toe</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="container page-homepage__leader-board py-xl">
        <h2 id="top-tien">Best scorende API's</h2>
        <div class="card card--padding-md">
            {% if api_validator_reports %}
            <ol class="api-score-list mt-0">
                {% for api_validator in api_validator_reports %}
                {% with api=api_validator.api report=api_validator.report %}
                <li>
                    <a href="{% url 'web:api_detail' api_id=api.api_id %}" class="api-score-list__item">
                        <div class="api-score-list__item__left">
                            <span class="api-score-list__item__left__counter">{{ forloop.counter }}</span>
                            <div class="api-score-list__item__left__text ml-4">
                                <p class="font-size-10 mb-0">{{ api.service_name | truncatechars:45 }}</p>
                                <p
                                    class="api-score-list__item__left__text__organisation text-color-palette-gray-700 mb-0">
                                    {{ api.organization.name | truncatechars:58 }}
                                </p>
                            </div>
                            <div class="api-score-list__item__left__text-mobile ml-4">
                                <p class="font-size-10 mb-0">{{ api.service_name | truncatechars:27 }}</p>
                                <p
                                    class="api-score-list__item__left__text__organisation text-color-palette-gray-700 mb-0">
                                    {{ api.organization.name | truncatechars:34 }}
                                </p>
                            </div>
                        </div>
                        <div class="api-score-list__item__pie">
                            {% score_pie report is_large=False %}
                        </div>
                    </a>
                </li>
                {% endwith %}
                {% endfor %}
            </ol>
            {% else %}
            <p>Er zijn op dit moment geen best scorende API's</p>
            {% endif %}
            <div class="card__body">
                <p>
                    Is je API geregistreerd, maar vind je deze niet terug in de top 10? Verbeter jouw API dan snel door
                    middel van
                    onze aanbevelingen.
                    Heb je jouw API nog helemaal niet geregistreerd? Druk dan op onderstaande knop om jouw API meteen
                    toe te voegen.
                </p>
                <a href="{% url 'web:api_add' %}" class="button button--add-icon">Voeg jouw API toe</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
