{% extends "layouts/base.html" %}
{% load static don_extras %}

{% block content %}
<div class="page-statistics">
    <h1 class="mb-5">{{ title }}</h1>
    <p>Het verloop van de API's en repository's uit het Developer Overheid overzicht.</p>

    <div class="vertical-sm first-row mb-7 two-columns">
        <div class="w-50 card card--padding-md mb-md">
            <h2 class="card__title">Implementatie API Design Rules</h2>
            <p class="card__sub-title">Het percentage van de API's dat aan een API Design Rule voldoet.</p>
        {% for name, title, percentage in api_design_rules_per_rule %}
            <div class="bar-chart">
                <h3>{{ name }}: {{ title }}</h3>
                <div class="bar-chart__progress">
                    <div class="bar-chart__progress__bar" style="width:{{ percentage }}%">
                        <span class="bar-chart__progress__bar__percentage">{{ percentage }}%</span>
                    </div>
                </div>
                <div class="bar-chart__labels">
                    <span class="bar-chart__labels__label">0%</span>
                    <span class="bar-chart__labels__label">100%</span>
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="w-50 card mb-6 card-api-design-rules-successes">
            <div class="card__header padding-md">
                <h2 class="card__title ">Verdeling API score</h2>
                <p class="card__sub-title">Het aantal API's per API Design Rule score.</p>
            </div>
            <div class="chart" id="js-bar-chart-api-design-rules-successes"></div>
        </div>
    </div>

    <a id="totaal"></a>
    <div class="time-ranges mb-5">
        <a href="?periode=laatste-maand#totaal" class="button{% if time_range == 'last-month' %} button--primary{% endif %} mr-2">Laatste maand</a>
        <a href="?periode=laatste-jaar#totaal" class="button {% if time_range == 'last-year' %} button--primary{% endif %}">Laatste jaar</a>
    </div>

    <div class="card card--padding-md mb-6">
        <h2 class="card__title">Aantal API's</h2>
        <p class="card__sub-title">Het aantal API's in het Developer Overheid overzicht.</p>
        <div class="chart chart--line-chart" id="js-number-of-apis-chart">
        <div class="chartist-tooltip js-chartist-tooltip hidden">
            <span class="chartist-tooltip-meta"></span><br>
            <span class="chartist-tooltip-value"></span>
        </div>
        </div>
    </div>

    <div class="card card--padding-md mb-6">
        <h2 class="card__title">Aantal organisaties</h2>
        <p class="card__sub-title">Het aantal organisaties dat API's aanbiedt.</p>
        <div class="chart chart--line-chart" id="js-number-of-orgs">
        <div class="chartist-tooltip js-chartist-tooltip-orgs hidden">
            <span class="chartist-tooltip-meta"></span><br>
            <span class="chartist-tooltip-value"></span>
        </div>
        </div>
    </div>

    <div class="card card--padding-md">
        <h2 class="card__title">Aantal repository's</h2>
        <p class="card__sub-title">Het aantal repository's in het Developer Overheid overzicht.</p>
        <div class="chart chart--line-chart" id="js-number-of-repos">
        <div class="chartist-tooltip js-chartist-tooltip-repos hidden">
            <span class="chartist-tooltip-meta"></span><br>
            <span class="chartist-tooltip-value"></span>
        </div>
        </div>
    </div>
</div>
{% endblock %}

{% block head %}
<link href="{% static 'dist/statistics.css' %}" rel="stylesheet">
{% endblock %}

{% block tail %}
{% for name, data in graph_data.items %}
    {{ data | graph_data_script:name }}
{% endfor %}

<script src="{% static 'dist/statistics.js' %}" defer></script>
{% endblock %}
