{% extends "layouts/base.html" %}

{% block content %}
<h1 class="mb-5">{{ title }}</h1>

{% for validator_report in validator_reports %}
<div class="card card--padding-lg mb-sm w-100">
    {% include "partials/validator_report.html" with report=validator_report.report %}
</div>
{% endfor %}

{% endblock %}
