@use "sass:map";

// Colors
$colorBrand: #0b71a1;
$colorBrandLight: #10A0E3;
$colorBrandLighter: #57BDEC;
$colorBrandLightest: #d4e5ff;
$colorBrandTransparent: rgba(11, 113, 161, 0.7);
$colorBrandLight: lighten($colorBrand, 10%);
$colorBrandDark: darken($colorBrand, 8%);

// Sub Colors
$colorInfo: #0b71a1;
$colorInfoLight: #d3f3fd;
$colorWarning: #ffbc2c;
$colorWarningLight: #fcf8da;
$colorError: #f02b41;
$colorErrorLight: #ffdde2;
$colorSuccess: #63d19e;
$colorSuccessLight: #dce8d1;
$colorFocus: #0b82b5 !default;

// Pallette gray
$colorPaletteGray50: #fafafa;
$colorPaletteGray100: #f5f5f5;
$colorPaletteGray300: #e0e0e0;
$colorPaletteGray200: #eeeeee;
$colorPaletteGray400: #bdbdbd;
$colorPaletteGray500: #9e9e9e;
$colorPaletteGray600: #757575;
$colorPaletteGray700: #616161;
$colorPaletteGray800: #424242;
$colorPaletteGray900: #212121;

// Text Colors
$colorText: #212121 !default;
$colorTextLinkHover: darken($colorBrand, 10%);
$colorTextLink: $colorBrand;
$colorTextInverse: $colorPaletteGray50;

// Generic Colours
$colorBackground: darken(#f7f9fc, 2%);
$colorFocus: darken($colorBrand, 10%);

// Shadows
$boxShadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);

// Dimensions
$borderRadius: 4px;
$borderRadiusMedium: 8px;
$borderRadiusLarge: 13px;

// Font sizes
$baseFontSize: 16px;
$fontSizeXSmall: 0.75rem;
$fontSizeSmall: 0.875rem;
$fontSizeMedium: 1rem;
$fontSizeLarge: 1.25rem;
$fontSizeXLarge: 1.5rem;
$fontSizeXXLarge: 2rem;
$fontSizeXXXLarge: 2.75rem;

$fontWeightRegular: 400;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;

// Line heights
$lineHeightTextSmall: 100%;
$lineHeightText: 150%;
$lineHeightHeading: 125%;

// Spacing
$spacing01: 0.1rem !default;
$spacing02: 0.25rem !default;
$spacing03: 0.5rem !default;
$spacing04: 0.75rem !default;
$spacing05: 1rem !default;
$spacing06: 1.5rem !default;
$spacing07: 2rem !default;
$spacing08: 2.5rem !default;
$spacing09: 3rem !default;
$spacing10: 4rem !default;
$spacing11: 5rem !default;

// Theme
$absolute-sizes: (
    $spacing01,
    $spacing02,
    $spacing03,
    $spacing04,
    $spacing05,
    $spacing06,
    $spacing07,
    $spacing08,
    $spacing09,
    $spacing10,
    $spacing11,
);

// Theme
$widths: (
    container: 992px,
    container-padding: 16px,
    search-width: 500px,
    ) !default;
$heights: (
    header: 273px,
    header-top-navigation: 57px,
    footer: 235px,
    footer-mobile: 290px,
    ) !default;
$footer-height: map.get($heights, "footer") !default;
$footer-height-mobile: map.get($heights, "footer-mobile") !default;

$containerWidthSmall: 720px;
$containerWidth: calc(#{map.get($widths, "container")} + 2 * #{map.get($widths, "container-padding")}) !default;
$containerPadding: map.get($widths, "container-padding") !default;
$search-max-width: map.get($widths, "search-width") !default;
$mobileNavHeight: 4.5rem;

// Breakpoints
$xs: 0px; // mobile
$sm: 576px; // mobile landscape
$md: 768px; // tablets
$lg: 992px; // Wide
$xl: 1050px; // Desktop
