{% extends "layouts/base.html" %} {% load static %} {% block content %}
<div class="page-article page-api-design-rules">
  <div class="container container--sm container--left">
    <h1 class="mb-sm">API Design Rules</h1>
    <p>
      De API Design Rules zijn een set aan ontwerpregels die zijn gebundeld in een standaard, met als oorsprong de <a
        href="https://iplo.nl/digitaal-stelsel/aansluiten/standaarden/api-en-uri-strategie/" target="_blank">API
        strategie</a> van het Digitaal Stelsel Omgevingswet, kortweg DSO.</p>
    <p>Bij het opstellen van de <a href="https://gitdocumentatie.logius.nl/publicatie/api/adr/" target="_blank">API
        Design Rules</a> is de <abbr title="Digitaal Stelsel Omgevingswet">DSO</abbr> API strategie
      het startpunt geweest en heeft de werkgroep ‘API strategie’ gekeken naar hoe deze toepasbaar gemaakt kunnen worden
      voor de hele Nederlandse publieke sector.</p>
    <div class="from-dso-to-rules my-md">
      <div class="org org--space-between">
        <img src="{% static 'images/omgevingswet.png' %}" width="140" height="140" alt="Logo omgevingswet">
        <h2 class="org__name">Digitaal Stelsel Omgevingswet</h2>
        <h2 class="org__subtitle">API-strategie</h2>
      </div>
      <img src="{% static 'images/icons/curve-arrow.svg' %}" width="180" height="180" alt="Pijl van links naar rechts"
        class="arrow">
      <div class="org">
        <img src="{% static 'images/figure-logius.svg' %}" width="140" height="140" alt="Logo logius">
        <h2 class="org__name">Kennisplatform API's</h2>
        <h2 class="org__subtitle">API Design Rules</h2>
      </div>
    </div>
    <p>De API Design Rules zijn ook opgenomen in de
      <a href="https://docs.geostandaarden.nl/api/API-Strategie/">Nederlandse API strategie</a> en omschrijft het belang
      van het
      gebruik van API's en standaarden door de overheid. De API Design Rules worden beheerd door het ‘kennisplatform
      API’.
    </p>

    <p>Om het makkelijk te maken inzicht te krijgen in de kwaliteit van API's hebben wij een <abbr
        title="Command Line Interface">CLI</abbr> gebouwd die checkt of de desbetreffende API aan de Design Rules
      voldoet.
      Deze applicatie hebben we <b><abbr title="API Design Rules">ADR</abbr> Validator</b> genoemd en draait elke 24 uur
      om alle API's op ons platform van een score te voorzien.</p>
    <p>De top10 van de best scorende API’s kan je <a href="/#top-tien">hier</a> vinden.</p>
    <p>Heb je vragen over de API strategie of wil je meewerken aan het kennisplatform API, contacteer ons dan <a
        href="https://fd10.formdesk.com/geonovum/KennisplatformAPI">hier</a>.</p>
    <div class="card card--page mb-11 my-lg font-size-sm">
      <h2 class="font-size-lg mb-3">Hoe worden de API’s getest met API Design Rules validator?</h2>
      <p class="mb-6">
        De <a href="https://gitlab.com/commonground/don/adr-validator">API Design Rules (ADR) Validator</a> is een
        tool die de kwaliteit van een API meet. Deze tool
        voert controles uit op basis van de 7 Design Rules die daadwerkelijk meetbaar zijn. Hoe hoger het aantal
        regels waaraan een API voldoet, hoe hoger de score. <br><br> De ADR-Validator maakt het mogelijk om tijdens
        het ontwikkelproces, zowel
        lokaal als in CI, een API te testen. Ook kan je verbeteringen in de tester
        aanbrengen door een merge request te openen. Zo kan je de ADR-Validator in
        je eigen omgeving afstemmen op je eigen behoefte! Test je API door hem te
        uploaden via het Developer Portaal, of raadpleeg de bot via
        <a href="https://gitlab.com/commonground/don/adr-validator" target="_blank">deze link</a>.
        <br><br> De 7 meetbare Design Rules zijn:
      </p>
      <ul class="list-reset rules-list">
        {% for rule in api_design_rules.all %}
        <li class="mb-sm">
          <h3 class="mt-0 mb-3">
            <a href="{{ rule.documentation_url }}" target="_blank">{{ rule.rule_id }}: {{ rule.title }}</a>
          </h3>
          <p class="mb-0">
            {{ rule.description }}
          </p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
