@use "../theme";

.page-add-api {
    .add-api-form {
        @media only screen and (min-width: theme.$sm) {
            width: 70%;
        }

        .warning {
            color: theme.$colorError;
            font-weight: theme.$fontWeightBold;

            &::before {
                content: url("../../../images/icons/exclamationmark.svg");
                margin-right: theme.$spacing04;
            }
        }

        h2 {
            font-weight: theme.$fontWeightSemiBold;
        }
    }
}
