@use "../theme";

.page-homepage {

    .hero {
        .container {
            z-index: 2;
        }
    }

    &__leader-board {

        h2 {
            margin-top: 0;
            font-size: theme.$fontSizeXLarge;
        }
    }
}
