@use "../theme";

.page-api-specification {
    .header-bar {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;

        @media only screen and (min-width: theme.$sm) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        h1 {
            margin: 0;
        }

        a {
            font-weight: theme.$fontWeightBold;
            text-decoration: none;
            margin-bottom: theme.$spacing04;

            @media only screen and (min-width: theme.$sm) {
                margin-bottom: 0;
            }
        }
    }

    .subtitle {
        font-weight: theme.$fontWeightRegular;
        margin-top: 0;
    }

    .lcpAXZ {
        position: fixed;
        bottom: 6rem !important;
        right: theme.$spacing05;
    }
}
