@use "../theme";

.page-api-design-rules {
    .from-dso-to-rules {
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 3rem;
        border: .5rem solid theme.$colorBrand;
        display: none;

        @media only screen and (min-width: theme.$sm) {
            display: flex;
        }

        .org {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 15rem;
            height: 13rem;

            &__name {
                text-align: center;
                font-size: theme.$fontSizeMedium;
                margin: theme.$spacing04 0 0;
            }

            &__subtitle {
                font-size: theme.$fontSizeSmall;
                color: theme.$colorPaletteGray700;
                margin-top: theme.$spacing03;
                margin-bottom: 0;
            }
        }

        .arrow {
            margin: -20px theme.$spacing06;
        }
    }

    .rules-list {
        >li:last-child {
            margin-bottom: 0;
        }
    }
}
