@use "../theme";

.page-article {
    margin: 0 auto;

    p,
    li {
        font-size: theme.$fontSizeMedium;
        line-height: theme.$lineHeightText;
    }

    code {
        background-color: theme.$colorPaletteGray300;
        font-size: 80%;
        padding: .2em .4em;
        border-radius: 6px;

    }
}
