@use "../theme";

.page-contact {
    form {

        .field-wrapper__errors {
            margin-top: 0;
        }

        .warning {
            color: theme.$colorError;
            font-weight: theme.$fontWeightBold;

            &::before {
                content: url("../../../images/icons/exclamationmark.svg");
                margin-right: theme.$spacing04;
            }
        }


        .field-wrapper {
            label {
                font-weight: theme.$fontWeightBold;
            }
        }

        .field-wrapper:last-of-type {
            margin-bottom: 0;
        }
    }
}
