@use "../theme";

.api-score-list {
    list-style: none;
    padding: 0;
    margin: 0 0 theme.$spacing02;

    @media only screen and (min-width: theme.$lg) {
        margin-bottom: theme.$spacing03;
        column-count: 2;
    }

    &__item {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: .5rem;
        align-items: center;
        width: 100%;

        @media only screen and (min-width: theme.$md) {
            padding: .5rem 1rem;
            width: 470px;
        }

        @media only screen and (min-width: theme.$lg) {
            padding: .5rem 1rem;
            width: 100%;
        }

        &:hover {
            background-color: theme.$colorPaletteGray50;
        }

        &__left {
            display: flex;
            flex-direction: row;
            color: theme.$colorText;

            &__counter {
                color: theme.$colorText;
                font-size: 1.5rem;
                font-weight: theme.$fontWeightSemiBold;
                justify-content: center;
                align-items: center;
                display: flex;
                width: 2rem;

                @media only screen and (min-width: theme.$sm) {
                    font-size: 2rem;
                }
            }

            &__text {
                display: none;

                p {
                    margin-bottom: 0;
                }

                @media only screen and (min-width: theme.$sm) {
                    display: block;
                }

                &__organisation {
                    font-size: theme.$fontSizeSmall;
                    color: theme.$colorPaletteGray700;
                }
            }

            &__text-mobile {
                display: block;

                @media only screen and (min-width: theme.$sm) {
                    display: none;
                }
            }
        }

        &__pie {
            justify-self: flex-end;
        }
    }
}
