@use "../theme";

.api-item {
    padding: theme.$spacing04;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid theme.$colorPaletteGray200;
    cursor: pointer;
    text-decoration: none;

    .pill,
    .pie-chart__bg {
        transition: background-color 0.2s ease;
    }

    &:hover {
        background-color: theme.$colorPaletteGray50;
    }

    @media only screen and (min-width: theme.$sm) {
        flex-direction: row;
        padding: theme.$spacing06;
    }

    &__left {
        color: theme.$colorText;
        display: flex;
        flex-direction: column;

        &__title {
            margin: 0;
            line-height: 1;
            font-size: theme.$fontSizeMedium;
        }

        &__subtitle {
            font-size: theme.$fontSizeSmall;
            color: theme.$colorPaletteGray700;
            margin-bottom: theme.$spacing02;
            line-height: 1;
        }

        &__description {
            font-size: theme.$fontSizeMedium;
            margin-bottom: 0;
        }
    }

    &__right {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        margin-left: 0;
        margin-top: theme.$spacing02;

        @media only screen and (min-width: theme.$sm) {
            align-items: flex-start;
            margin-left: theme.$spacing04;
            margin-top: 0;
        }

        &__grade {
            margin-left: theme.$spacing04;

            @media only screen and (min-width: theme.$sm) {
                margin-left: theme.$spacing08;
            }

            display: flex;
            gap: theme.$spacing04;
        }
    }
}
