@use "../theme";

.card {
    $self: &;
    background-color: white;
    border-radius: 4px;
    box-shadow: theme.$boxShadow;
    width: auto;
    text-decoration: none;

    > :first-child {
        margin-top: 0;
    }

    &__image {
        width: 100%;
        display: flex;

        img {
            width: 100%;
        }
    }

    &__body {
        padding: theme.$spacing05;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media only screen and (min-width: theme.$sm) {
            padding: theme.$spacing06;
        }

        >.link-arrow {
            padding-bottom: 0;
        }
    }

    &__title {
        font-size: 1.2rem;
        margin-top: 0;
        margin-bottom: theme.$spacing02;

        &--chapter {
            font-size: theme.$fontSizeXLarge;
            margin-bottom: theme.$spacing04;
        }
    }

    &__icon {
        stroke-width: 1.25;
        margin-bottom: 1.25rem;
    }

    &__sub-title {
        font-size: theme.$fontSizeSmall;
        color: theme.$colorPaletteGray800
    }

    &--bg {
        background-color: theme.$colorPaletteGray100;

        .field-wrapper {
            p {
                color: theme.$colorPaletteGray800;
            }
        }
    }

    &--page {
        margin: 2rem calc(-#{theme.$containerPadding});
        padding: 2rem theme.$containerPadding;
        border-radius: 0;

        @media only screen and (min-width: theme.$sm) {
            padding: 1.5rem;
            margin: 0;
        }
    }

    &--primary {
        color: white;
        background: linear-gradient(149deg, lighten(theme.$colorBrand, 6%), theme.$colorBrandDark);
        border-radius: theme.$borderRadiusMedium;
        border: 1px solid;
        border-image-source: linear-gradient(302.1deg, rgba(255, 255, 255, 0.27) -31.03%, rgba(255, 255, 255, 0) 39.12%);

        #{ $self }__description {
            opacity: 0.65;
        }

        &:hover {
            color: white;
            background: linear-gradient(149deg, theme.$colorBrandLight, theme.$colorBrandDark);
        }
    }

    &--call-to-action {
        display: flex;
        flex-direction: column;
        padding: theme.$spacing05;

        @media only screen and (min-width: theme.$sm) {
            padding: theme.$spacing06;
        }

        #{ $self }__footer {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-weight: 600;
        }
    }

    &--padding4 {
        padding: theme.$spacing04;
    }

    &--padding-sm {
        padding: theme.$spacing02;

        @media only screen and (min-width: theme.$sm) {
            padding: theme.$spacing04;
        }
    }

    &--padding-md {
        padding: theme.$spacing04;

        @media only screen and (min-width: theme.$sm) {
            padding: theme.$spacing05;
        }
    }

    &--padding-lg {
        padding: theme.$spacing03;

        @media only screen and (min-width: theme.$sm) {
            padding: theme.$spacing06;
        }
    }
}
