@use "../theme";
@use "../mixins";

.contact {
  *:first-child {
    margin-top: 0;
  }

  h3 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  ul {
    @include mixins.remove-list-bullets();
    margin: 0;
  }

}
