@use "../theme";

.drawer {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;

    &__backdrop {
        background-color: rgba(0, 0, 0, 0.6);
        position: fixed;
        width: 100%;
        height: 100%;
        display: none;

        &.active {
            display: block;
        }
    }

    &__sidebar {
        background-color: white;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        padding: 1rem;
        max-width: 100%;
        overflow: hidden auto;
        background-color: rgb(255, 255, 255);
        transform: translate(100%, 0);
        transition: transform 120ms ease-out 0s;

        @media only screen and (min-width: theme.$sm) {
            width: 34.5rem;
            padding: 2.5rem;
        }

        &.active {
            display: flex;
            transform: translate(0, 0);
            box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 1.5rem 0px;
        }

        &__header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: theme.$spacing08;

            h1 {
                margin: 0;
                font-size: theme.$fontSizeXLarge;
            }

            &__close-btn {
                border: 0;
                background: none;
                cursor: pointer;

                &::before {
                    display: block;
                    content: "✕";
                    font-size: theme.$fontSizeXXLarge;
                    padding: theme.$spacing02;
                    color: theme.$colorPaletteGray700;
                }
            }
        }
    }
}
