@use "../theme";


.facet-filters-wrapper {
    display: none;

    @media only screen and (min-width: theme.$sm) {
        display: block;
    }
}

.facet-filters {
    display: flex;
    flex-direction: column;

    &__query {
        margin: theme.$spacing07 0 theme.$spacing04;
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;

        label {
            color: theme.$colorPaletteGray800;
            margin-bottom: 0.25rem;
        }


        &__topic {
            margin: theme.$spacing02 0 0;
            position: relative;

            @media only screen and (min-width: theme.$sm) {
                position: absolute;
            }
        }

    }


    &__filter-toggle {
        margin-top: theme.$spacing04;

        @media only screen and (min-width: theme.$sm) {
            display: none;
        }
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;

        @media only screen and (min-width: theme.$sm) {
            margin: 56px 0 0;
        }

        li {
            &:first-child {
                margin-top: 0;

                h3 {
                    margin-top: 0;
                }
            }
        }

        &__heading {
            font-size: theme.$fontSizeMedium;
        }

        &__option {
            margin-bottom: theme.$spacing03;
            display: flex;

            &[aria-disabled="true"] {
                opacity: 0.5;

                label {
                    text-decoration: line-through;
                }
            }

            input[type=checkbox] {
                margin: 3px theme.$spacing03 0 0;
                border-radius: 2px;
                height: 18px;
                min-width: 18px;
                padding: 0;
                position: relative;
            }

            label {
                color: theme.$colorPaletteGray900;
                font-size: theme.$fontSizeMedium;

                small {
                    margin-left: theme.$spacing02;
                    color: theme.$colorPaletteGray600;
                }
            }
        }
    }
}
