@use "../theme";

.header {
    background-color: theme.$colorBrand;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.24), 0 5px 10px 0 rgba(0, 0, 0, 0.24);
    overflow: hidden;
    color: theme.$colorPaletteGray50;

    &__top {
        background-color: theme.$colorBrandDark;

        &__nav-list {
            align-items: center;
            display: flex;
            justify-content: flex-end;
            list-style: none;
            margin: 0;
            padding: 0;
            height: 57px;

            &__hidden-link {
                clip: rect(1px, 1px, 1px, 1px);
                color: white;
                height: 1px;
                margin-right: auto;
                overflow: hidden;
                position: absolute;
                text-decoration: none;
                white-space: nowrap;
                width: 1px;
            }

            &__li {
                height: 100%;

                &:not(:last-child) {
                    margin-right: 8px;
                }

                &.active {
                    border-bottom: 1px solid white;
                    font-weight: theme.$fontWeightSemiBold;
                }

                a {
                    align-items: center;
                    color: theme.$colorTextInverse;
                    display: flex;
                    height: 100%;
                    padding: 0 20px;
                    text-decoration: none;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.2);
                        color: theme.$colorTextInverse;
                        text-decoration: underline;
                    }

                    svg {
                        height: 16px;
                        margin-right: 8px;
                        width: 16px;
                    }
                }
            }
        }
    }

    &__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &__logo {
            color: white;
            font-weight: theme.$fontWeightBold;
            font-size: theme.$fontSizeXLarge;
            text-decoration: none;
            padding: theme.$spacing05 0;

            @media only screen and (min-width: theme.$sm) {
                padding: 0;
                font-size: theme.$fontSizeLarge;
            }

            &:hover {
                color: theme.$colorBrandLightest;
            }
        }

        &__links {
            display: none;
            margin: 0;
            padding: 0;

            @media only screen and (min-width: theme.$sm) {
                display: flex;
                flex-direction: row;
            }

            li {
                display: flex;
            }

            a {
                color: theme.$colorPaletteGray50;
                padding: 1rem 1.5rem;
                font-weight: theme.$fontWeightSemiBold;
                text-decoration: none;
                font-size: 1.125rem;

                &:hover {
                    background: rgba(255, 255, 255, 0.2);
                    color: theme.$colorTextInverse;
                    text-decoration: underline;
                }

                &.active {
                    background: unset !important;
                    border-bottom: 4px solid white;
                    padding-bottom: calc(1rem - 4px);
                }
            }
        }
    }
}
