@use "../theme";

.hero {
    background-color: theme.$colorBrandDark;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    color: white;

    &--bg {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;

        img {
            display: none;

            @media only screen and (min-width: theme.$xl) {
                display: block;
                object-fit: cover;
                object-position: center;
                height: 100%;
                width: 100%;
            }
        }
    }

    &__intro {
        @media only screen and (min-width: theme.$sm) {
            text-align: center;
        }

        &__heading {
            font-size: theme.$fontSizeXLarge;

            @media only screen and (min-width: theme.$sm) {
                font-size: theme.$fontSizeXXXLarge;
            }
        }

        &__subtitle {
            font-size: theme.$fontSizeLarge;
            font-weight: normal;

            @media only screen and (min-width: theme.$sm) {
                font-size: theme.$fontSizeXLarge;
            }
        }
    }

    &__content {
        display: grid;
        margin-top: theme.$spacing09;
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
        grid-gap: theme.$spacing06;
        justify-content: center;
        width: 100%;
    }
}
