@use "../theme";

.link-arrow {
    color: theme.$colorBrand;
    font-weight: theme.$fontWeightSemiBold;
    display: flex;
    text-decoration: none;

    &::after {
        margin: 3px 0 0 1rem;
        display: block;
        content: url("../../../images/icons/link-arrow.svg");
    }

    &--left {
        &::before {
            margin: 3px 1rem 0 0;
            display: block;
            content: url("../../../images/icons/link-arrow-left.svg");
        }

        &::after {
            display: none;
        }
    }

    &--secondary {
        font-weight: theme.$fontWeightRegular;
    }
}
