@use "../theme";

.pre-footer {
    background-color: white;

    &__heading {
        margin: 0 0 theme.$spacing05;
        font-weight: theme.$fontWeightRegular;
        font-size: theme.$fontSizeXLarge;
        line-height: 1;
    }

    &__buttons {
        display: flex;
        flex-direction: column;

        @media only screen and (min-width: theme.$sm) {
            flex-direction: row;
        }

        p {
            margin-top: theme.$spacing04;
            margin-bottom: theme.$spacing04;
            text-align: center;
        }
    }
}
