@use "../theme";
@use "../mixins";

$bottomBarGray: theme.$colorPaletteGray700;
$avatarWidth: 3rem;
$avatarHeight: 3rem;

.repository-item {

    @include mixins.card;
    padding: 0;

    &__header {
        &__archived {
            background: theme.$colorPaletteGray300;
            text-align: center;
            margin: 0;
        }
    }

    &__body {

        padding: theme.$spacing04;
        display: flex;
        flex-direction: row;
        position: relative;

        @media only screen and (min-width: theme.$sm) {
            padding: theme.$spacing06;
        }

        &__avatar {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            @media only screen and (min-width: theme.$sm) {
                position: relative;
                top: inherit;
                right: inherit;
            }

            img {
                width: 3rem;
                object-fit: cover;
            }
        }

        &__info {
            margin-left: -$avatarWidth;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            @media only screen and (min-width: theme.$sm) {
                margin-left: theme.$spacing05;
            }

            &__organization {
                font-size: theme.$fontSizeSmall;
                color: theme.$colorPaletteGray700;
                line-height: 1;
                text-decoration: none;
            }

            &__description {
                margin-bottom: theme.$spacing03;

                @media only screen and (min-width: theme.$sm) {
                    margin-bottom: theme.$spacing05;
                }

            }

            &__path {
                display: flex;
                margin-left: $avatarWidth + theme.$spacing03;
                margin-bottom: theme.$spacing03;
                font-size: 1.125rem;
                min-height: $avatarHeight;
                align-items: center;
                line-height: 1.15;

                @media only screen and (min-width: theme.$sm) {
                    font-size: theme.$fontSizeLarge;
                    min-height: auto;
                    margin-left: 0;
                }

                &__repository {
                    font-weight: theme.$fontWeightBold;
                }

                a {
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            &__topics {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-right: 4.2rem;

                @media only screen and (min-width: theme.$sm) {
                    margin-right: 0;
                }

                .pill {
                    margin-bottom: theme.$spacing02;
                }
            }

            &__details {
                display: flex;
                flex-direction: column;
                color: $bottomBarGray;
                font-size: theme.$fontSizeSmall;
                line-height: 1;

                @media only screen and (min-width: theme.$lg) {
                    flex-direction: row;
                }

                &__left {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: theme.$spacing03;

                    @media only screen and (min-width: theme.$lg) {
                        margin-bottom: 0;
                    }

                    &__lang {
                        display: flex;
                        align-items: center;
                        align-self: flex-start;
                        margin-right: theme.$spacing06;

                        &__dot {
                            background-color: theme.$colorBrand;
                            border-radius: 50%;
                            display: inline-block;
                            margin-right: 0.25rem;
                            height: 1rem;
                            width: 1rem;
                        }
                    }

                    &__prop {
                        display: flex;
                        align-items: center;
                        align-self: flex-start;
                        text-decoration: none;
                        margin-right: theme.$spacing03;
                        color: $bottomBarGray;

                        &:hover {
                            color: theme.$colorBrand;

                            svg {
                                fill: theme.$colorBrand;
                            }
                        }

                        svg {
                            fill: $bottomBarGray;
                            height: 1rem;
                        }
                    }

                    &__merge-requests {
                        margin-left: 1rem;
                    }
                }

                &__timestamp {
                    display: flex;
                    align-items: center;

                    &:first-child {
                        margin-left: 0;
                    }

                    @media only screen and (min-width: theme.$lg) {
                        margin-left: theme.$spacing06;
                    }

                    svg {
                        fill: $bottomBarGray;
                        height: 1rem;
                    }
                }
            }
        }
    }
}
