@use "../theme";

.filter-spinner {
    opacity: 0;
    transition: opacity 500ms ease-in;
    display: none;
    justify-content: center;

    >.spinner {
        width: 48px;
        height: 48px;
        border: 5px solid theme.$colorBrand;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    // Spinner is visible if HTMX is loading
    &.htmx-request {
        opacity: 1;
        display: flex;
    }

}
