@use "../theme";

.table {
    border-collapse: collapse;
    margin: 0 0 1rem;
    padding: 0px;
    table-layout: fixed;
    width: 100%;

    thead {
        display: none;

        tr {
            display: block;

            th {
                font-weight: theme.$fontWeightSemiBold;
                text-align: left;
            }
        }
    }

    tbody {
        tr {
            margin-bottom: .75rem;
        }
    }

    tr {
        display: block;

        td {
            display: block;
            text-align: left;

            &::before {
                content: attr(data-label);
                float: left;
                font-weight: theme.$fontWeightBold;
                margin-right: 0.25rem;
            }
        }
    }

    a {
        font-size: theme.$fontSizeSmall;
    }

    @media only screen and (min-width: theme.$sm) {
        margin: 0 0 1.5rem;

        a {
            font-size: inherit;
        }

        thead {
            display: revert;

            tr {
                display: revert;
            }
        }

        tr {
            display: revert;

            td {
                display: revert;

                &::before {
                    display: none;
                }
            }
        }
    }
}
