@use "../theme";
@use "../mixins";
@use "../components/pill";

.topic-list {
    @include mixins.remove-list-bullets();
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .topic-pill {
        @extend .pill;
        @extend .pill--gray;
        @extend .pill--sm;
        margin-bottom: theme.$spacing02;
        margin-right: theme.$spacing02;
    }
}
